body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
}

h1 strong{
    color: #026fff;
}

h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

.contact{
    background: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event{
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background: #f4fbff;
}

.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail{
    margin: 20px 40px;
    background: white;
    margin-top: -40px;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description{
    text-align: left;
}

.event-list{
    display: flex;
}

.event-list-title{
    margin-left: 10px;
}

.event-url{
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.form-email input{
    border-color: gray;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    border-radius: 5px;
}

.form-email button{
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-style: solid;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.form-email h3{
    font-family: 'Source Sans Pro';
    font-weight: bold;
}

.footer{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer a{
    color:white;
}

.footer img{
    width: 80px;
    vertical-align: middle;
}

.header{
    background-color: #1b2127;
    color: white;
    display: flex; /* Hace que el logo y el menu esten uno al lado del otro y no verticalmente el uno del otro */
    justify-content: space-between;
    height: 70px;
    align-items: center; /* Centra verticalmente el logo y el menú */
}

.header a{
    color: white;
    text-decoration: none;
}

.header img{
    height: 50px;
}

.header ol{
    display: flex; /* Hace que las opciones del menú esten una al lado de la otra y no verticalmente la una de la otra */
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a{
    height: inherit;
    display: flex; /* Esta declaración y la siguiente, hacen que las anclas del menú, ... */
    align-items: center; /* ... tengan todo el alto del mismo (90px heredado del selector .header), para tener espacio suficiente para hacer click en las opciones */ 
    padding: 0 10px;
}

.hero{
    height: 300px;
    background-image: url('../images/hero.jpg');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #1b2127;
    display: flex;
    align-items: center;
}

.menu{
    height: inherit;
}

.portfolio{
    background: #fafafa;
    padding: 20px;
}

.project{
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project strong{
    font-family: 'Fjalla One';
}

.project-course,
.project-date,
.project-url{
    margin: 10px 0;
}

.project-description{
    font-size: 20px;
}

.project-details{
    width: 500px;
}

.project-imageContainer{
    width: 500px;
}

.project-title{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}

.social-link{
    width: 50px;
    height: 50px;
    display: inline-block; /* Las anclas por defecto tienen el dislay inline, por esto se debe cambiar a flex o inline-block */ 
    background-size: 50px 50px; /* Como los íconos son de tipo svg debemos darle tamaño para que se muestren */
    margin: 0 10px;
}

.social-link.twitter{
    background-image: url('../images/twitter.svg');
}

.social-link.facebook{
    background-image: url('../images/facebook.svg');
}

.social-link.github{
    background-image: url('../images/github.svg');
}

.social-link.instagram{
    background-image: url('../images/instagram.svg');
}
